body {
    font-family: 'Titan One', cursive;
    background-image: url(../images/bearspattern.png);
    background-color: #f0f0e1;
    color: #4e4e4e;
}

img {
    border-style: solid;
    border-width: 3px;
    border-color: #4e4e4e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.container {
    background-color: #f0f0e1;
    border-style: solid;
    border-width: 3px;
    border-color: #4e4e4e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#currentWord {
    letter-spacing: 10px;
}